# Visual Studio files
.vs/
*.sln
*.VC.db
*.VC.opendb
*.VC.VC.opendb
*.sdf
*.opensdf
*.user
*.aps
*.opendb
*.log

# Rider/JetBrains IDE files
.idea/

# VS Code files (optional, remove if you want to track these settings)
.vscode/

# Unreal Engine intermediate/build files
Binaries/
DerivedDataCache/
Intermediate/
Saved/
Build/
*.opensdf
*.opendb
Content/Assets

# Cooked and packaged builds
Releases/
PackagedBuilds/

# Crash Reports
crashinfo/
